/* DIN */

// standard weight
@font-face {
	font-family: "DIN";
	src: url(../fonts/DIN/DINOT.eot);
	src: url(../fonts/DIN/DINOT.eot?#iefix) format('embedded-opentype'),
	url(../fonts/DIN/DINOT.woff) format('woff'),
	url(../fonts/DIN/DINOT.svg) format('svg');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: "DIN";
	src: url(../fonts/DIN/DINOT-Italic.eot);
	src: url(../fonts/DIN/DINOT-Italic.eot?#iefix) format('embedded-opentype'),
	url(../fonts/DIN/DINOT-Italic.woff) format('woff'),
	url(../fonts/DIN/DINOT-Italic.svg) format('svg');
	font-weight: 400;
	font-style: italic
}

// medium weight
@font-face {
	font-family: "DIN";
	src: url(../fonts/DIN/DINOT-Medium.eot);
	src: url(../fonts/DIN/DINOT-Medium.eot?#iefix) format('embedded-opentype'),
	url(../fonts/DIN/DINOT-Medium.woff) format('woff'),
	url(../fonts/DIN/DINOT-Medium.svg) format('svg');
	font-weight: 600;
	font-style: normal
}

@font-face {
	font-family: "DIN";
	src: url(../fonts/DIN/DINOT-MediumItalic.eot);
	src: url(../fonts/DIN/DINOT-MediumItalic.eot?#iefix) format('embedded-opentype'),
	url(../fonts/DIN/DINOT-MediumItalic.woff) format('woff'),
	url(../fonts/DIN/DINOT-MediumItalic.svg) format('svg');
	font-weight: 600;
	font-style: italic
}

// bold weight
@font-face {
	font-family: "DIN";
	src: url(../fonts/DIN/DINOT-Bold.eot);
	src: url(../fonts/DIN/DINOT-Bold.eot?#iefix) format('embedded-opentype'),
	url(../fonts/DIN/DINOT-Bold.woff) format('woff'),
	url(../fonts/DIN/DINOT-Bold.svg) format('svg');
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: "DIN";
	src: url(../fonts/DIN/DINOT-BoldItalic.eot);
	src: url(../fonts/DIN/DINOT-BoldItalic.eot?#iefix) format('embedded-opentype'),
	url(../fonts/DIN/DINOT-BoldItalic.woff) format('woff'),
	url(../fonts/DIN/DINOT-BoldItalic.svg) format('svg');
	font-weight: 700;
	font-style: italic
}
